.format-container {
    width: 1142px;
    margin: 0 auto;
}

.box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px 0;
}
.item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
    margin: 0 15px 10px;
    overflow: hidden;
    border-radius: 28px;
}
.item_link, .item_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}

.item_link:hover,
.item_link:hover .item_text {
    color: #FFF;
}

.item_link:hover .item_bg,
.item_bg.active,
.item_link:hover .item_bg,
.item_bg.active {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.item_bg.active {
    background-color: #6e501b;
}

.collection_bg.active {
    background-color: rgb(8, 35, 51) !important;
}


.item_title {
    min-height: 87px;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
    z-index: 2;
    position: relative;
}
  
.item_text {
    position: relative;
    z-index: 2;
    font-weight: bold;
    color: #f9b234;  
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
}

.item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.collection_bg {
    background-color: rgb(11, 127, 156);
}

.item-count, .item-count {
    position: relative;
    float: right;
    color: red;
    z-index: 5;
    display: none;
}
  
  
@media only screen and (max-width: 979px) {
    .item {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    }
    .item_title {
        font-size: 24px;
    }
}
  
@media only screen and (max-width: 767px) {
    .format-container {
        width: 96%;
    }
}

@media only screen and (max-width: 639px) {
    .item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .item_title {
      min-height: 72px;
      line-height: 1;
      font-size: 24px;
    }
    .item_link {
      padding: 22px 40px;
    }
}